main {
  margin: 2rem 0;
}

/* RANDOMIZER */

#randomizer {
  text-align: center;
  background: linear-gradient(30deg, rgb(225, 13, 126), rgb(239, 103, 175));
  padding: 1rem 0;
  width: 85%;
  max-width: 900px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgb(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
}

#randomizer.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  max-width: none;
  height: 100vh;
  margin: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#randomizer.rotate {
  display: grid;
  grid-template-columns: 1.75fr 1.25fr;
  justify-content: center;
}



#countdown {
  display: none;
  position: relative;
  height: 41rem;
}

#countdown p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30rem;
  font-weight: bold;
  margin: 0;
  text-shadow: 2px 2px 1px rgb(0, 0, 0, 0.2);
  color: rgb(49, 49, 49);
}

#countdown-progress {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 600px;
}

#chord-progress {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  height: 4rem;
  width: 4rem;
  margin: auto 0;
}

circle {
  transition: 1s stroke-dashoffset;
  transform: rotate(-91deg);
  transform-origin: 50% 50%;
  stroke: rgb(49, 49, 49);
  filter: drop-shadow(-2px 2px 1px rgb(0 0 0 / 0.2));
  fill: transparent;
}

#countdown-progress circle {
  cx: 300px;
  cy: 300px;
  stroke-width: 1.5rem;
}

#chord-progress circle {
  cx: 2rem;
  cy: 2rem;
  stroke-width: 5px;
  filter: none;
  transition: none;
  r: 22;
}

#chord-progress-circle {
  stroke: white;
  stroke-dasharray: 138.23, 138.23;
  stroke-dashoffset: 136.848;
}

.spinning {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

#remaining-ierations-wrapper {
  position: relative;
  height: 5rem;
  width: 4rem;
}

#remaining-iterations {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: rgb(49, 49, 49);
}

#first-chord-container {
  height: 24rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 95%;
}

#next-chord-container {
  height: 8rem;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  width: 95%;
  margin-bottom: 1.5rem;
}

#first-chord {
  word-wrap: break-word;
  word-break: break-all;
  font-weight: bold;
  margin: auto 0;
  text-shadow: 2px 2px 1px rgb(0, 0, 0, 0.2);
  color: beige;
}
#next-chord {
  font-size: 6rem;
  margin: auto 0;
  font-weight: bold;
  color: beige;
  text-shadow: 2px 2px 1px rgb(0, 0, 0, 0.2);
}

#metronome {
  margin: 0;
  height: 6rem;
}

.beep {
  font-size: 5rem;
  color: rgb(49, 49, 49);
}

.beep.active {
  color: beige;
}

#randomizer-options {
  display: grid;
  height: 5rem;
  grid-template-columns: 2fr 5rem 2fr;
}

#randomizer-left-column {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}
#randomizer-right-column {
  text-align: left;
  display: flex;
  padding-left: 1rem;
}

#start-btn {
  color: rgb(49, 49, 49);
  display: block;
  border: 5px solid rgb(49, 49, 49);
  background: none;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  margin: auto 0;
  padding: 0;
}

#start-btn span {
  transform: scale(2);
}

#start-btn:hover {
  color: beige;
  border-color: beige;
  cursor: pointer;
}

.randomizer-button {
  height: 100%;
  display: block;
  background: none;
  border: none;
  padding: 1rem;
  color: rgb(49, 49, 49);
}
.randomizer-button span {
  transform: scale(2.5);
}
.randomizer-button:hover {
  cursor: pointer;
  color: beige;
}

/* PRESETS */

.options-wrapper {
  columns: auto 2;
  width: 85%;
  margin: 0 auto;
  max-width: 900px;
}

.options-wrapper.single-column {
  columns: auto 1;
}

.options {
  display: inline-block;
  text-align: left;
  margin: 0 auto 1rem auto;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  border: 5px solid beige;
  box-shadow: 2px 3px beige;
  box-sizing: border-box;
}

.options.warning {
  background-color: rgb(225, 13, 126);
  animation: shake 0.2s ease-in-out 0s 2;
  box-shadow: 0 0 0.6rem rgb(225, 13, 126);
}

#app-presets ul {
  display: block;
}

#app-presets li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

#app-presets label {
  margin: auto 0;
}

#metronome-signature label {
  height: 100%;
  padding: 0.25rem 0 0.25rem 35px;
}

/* DIFFICULTY */

.options-header {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}
.options-header h3 {
  margin-bottom: 0;
}

.chords-list {
  background-color: beige;
  border-radius: 5px;
  padding: 0.5rem 0.25rem;
  display: flex;
  flex-wrap: wrap;
}

.error-output {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  text-shadow: 0 0 0.6rem rgb(225, 13, 126);
}

/* MEDIA QUERIES */

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(269deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(269deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(269deg);
    transform: rotate(269deg);
  }
}

@media (max-width: 1000px) {
  #first-chord-container {
    height: 20rem;
  }
  #next-chord-container {
    height: 6rem;
  }
  #next-chord {
    font-size: 5rem;
  }
  #countdown p {
    font-size: 23rem;
  }
  #countdown {
    height: 37rem;
  }
  #countdown-progress {
    height: 500px;
    width: 500px;
  }
  #countdown-progress circle {
    cx: 250px;
    cy: 250px;
    stroke-width: 1.2rem;
  }
}

@media (max-width: 860px) {
  .options-wrapper {
    columns: 1;
  }

  #first-chord-container {
    height: 15rem;
  }
  #next-chord-container {
    height: 5rem;
  }
  #next-chord {
    font-size: 4rem;
  }
  #countdown p {
    font-size: 20em;
  }
  #countdown {
    height: 29rem;
  }
  #countdown-progress {
    height: 440px;
    width: 440px;
  }
  #countdown-progress circle {
    cx: 220px;
    cy: 220px;
    stroke-width: 1.2rem;
  }
}

@media (max-width: 500px) {
  #first-chord-container {
    height: 12rem;
  }
  #next-chord-container {
    height: 3.5rem;
  }
  #next-chord {
    font-size: 3rem;
  }
  #countdown p {
    font-size: 15em;
  }
  #countdown {
    height: 25rem;
  }
  #countdown-progress {
    height: 320px;
    width: 320px;
  }
  #countdown-progress circle {
    cx: 160px;
    cy: 160px;
    stroke-width: 1rem;
  }
}

@media (max-height: 700px) {
  #radomizer-rotate-column-1 {
    margin: auto 0;
  }
  
  #radomizer-rotate-column-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

 #randomizer {
  padding: 0;
 }
  #countdown p {
    font-size: 15em;
  }
  #countdown {
    height: 25rem;
  }
  #countdown-progress {
    height: 320px;
    width: 320px;
  }
  #countdown-progress circle {
    cx: 160px;
    cy: 160px;
    stroke-width: 1rem;
  }

}